$main: #5a9f7a;
$grey: #84847e;
$light-grey: #dbdbdb;
$brown: #b77751;
$dark-cyan: #298b91;
$light-cyan: #298b91a6;
$pink: #ffd3c9;
$light-pink: #ffd3c9ab;
$light-pink2: #ffd3c96e;
$black: #1d1d1b;
$white: #ffffff;
